[submodule "Express/vendor/spdlog"]
	path = Express/vendor/spdlog/data
	url = https://github.com/gabime/spdlog.git
[submodule "Express/vendor/GLFW"]
	path = Express/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Express/vendor/ImGui"]
	path = Express/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Express/vendor/glm"]
	path = Express/vendor/glm
	url = https://github.com/g-truc/glm.git
